body
{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/sfbackground.jpg");
}

.header
{
    float: none;
    clear: both;
}

#SFpic
{
    display: block;
    margin: auto;
    width: 12%;
}

.content
{
    background: url("../img/button2.png");
}