body{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("img/ggbackground2.jpg");
}

.header
{
    float: none;
    clear: both;
}

#ggpic
{
    display: block;
    margin: 0 auto;
    width: 14%;
}

.content
{
    background: url("../img/button2.png");
}
